[submodule "auth"]
	path = auth
	url = git@github.com:guille1988/auth.git
[submodule "email"]
	path = email
	url = git@github.com:guille1988/email.git
[submodule "broadcasting"]
	path = broadcasting
	url = git@github.com:guille1988/broadcasting.git
