[submodule "auth"]
	path = microservices/auth
	url = git@github.com:guille1988/auth.git
[submodule "email"]
	path = microservices/email
	url = git@github.com:guille1988/email.git
[submodule "broadcasting"]
	path = microservices/broadcasting
	url = git@github.com:guille1988/broadcasting.git
